*

!.dockerignore
!.env.example
!.gitignore
!.gitmodules
!Dockerfile
!README.md
!config.yaml.example
!docker-compose.yml
!requirements.deploy.txt

!scripts/
!scripts/**

!plugins/
plugins/*
!plugins/btd6bot_plugin/
