adapters:
  - type: napcat
    platform: qq
    enabled: true
    config:
      enable_webui: true
      webui_token: napcat_webui
      webui_uri: http://localhost:6099
      ws_token: napcat_ws
      ws_uri: ws://localhost:3001
      skip_setup: false

bot_uin: "123456789"
root: "123456789"
check_ncatbot_update: false
debug: false
enable_webui_interaction: true
logging:
  event_log_format: summary
  event_log_levels:
    meta_event: NONE
plugin:
  auto_install_pip_deps: false
  builtin_commands:
    config_toggle: true
    load: true
    reload: false
    sysinfo: true
    unload: false
  builtin_commands_group_allowed: false
  enable_builtin_commands: true
  hot_reload: false
  load_plugin: true
  plugin_blacklist: []
  plugin_configs:
    btd6bot_plugin:
      daily_activity_brief:
        enabled: true
        group_ids: []
        schedule: "07:00"
  plugin_whitelist: []
  plugins_dir: plugins
  skip_pip_install_confirm: true
skip_napcat_install_confirm: true
skip_ncatbot_install_check: true
websocket_timeout: 15
